#search-field {
    font-size: 18px;
    width: 300px;
    padding: 5px 15px;
    border: 1px solid #161616;
    border-radius: 30px;
}
#search-btn {
    padding: 7px 17px;
    border-radius: 30px;
    border: none;
    transition: all 0.3s ease-in-out;
}
#search-btn:hover {
    background: #0059dd !important;
}
.phone-img {
    transition: all 0.3s ease-in-out;
}
.phone-img:hover {
    transform: scale(1.1);
}
.phone-desc {
    background: #eeeeee;
}
#phone-btn {
    padding: 8px 20px;
    border-radius: 30px;
}
#load-more-btn {
    padding: 8px 20px;
    border-radius: 30px;
    display: none;
}
.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}